<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%p] %c{1.} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
        <logger name="cz.ebazary" level="debug"/>
        <logger name="org.springframework.data.elasticsearch.core.ElasticsearchTemplate" level="debug"/>
        <logger name="com.datastax.driver.core.RequestHandler" level="trace"/>
        <logger name="org.thymeleaf" level="warn"/>
        <!--see https://github.com/spring-projects/spring-boot/issues/2745-->
        <logger name="org.springframework.boot.context.web.ErrorPageFilter" level="OFF"/>
    </Loggers>
</Configuration>