@media(min-width:992px) {
    .vcenter {
        min-height: 100%; /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }
}

.form-control, .btn {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.no-right-border {
    display: table-cell !important;
}

.no-right-border > .btn {
    border-right: 0px !important;
}

.nowrap {
    white-space: nowrap;
}

.transparent {
    background-color: transparent !important;
}

.container > .row-even, .row-odd {
    border: 1px solid #ddd;
}

.container > .row + .row {
    border-top: 0;
}

.row-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.m-b-40 {
    margin-bottom: 40px;
}

#logo {
    margin: 0 auto;
}

#search-input {
    min-width: 180px;
}