.vcenter {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.nowrap {
    white-space: nowrap;
}

.transparent  {
    background-color: transparent !important;
}

.img-thumbnail {
    min-height:100px;
    min-width: 100px;
    max-height:300px !important;
    max-width: 300px !important;
}